body, html {
    height: 100%;
    margin: 0;
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
}

/* Banner */
.hero-image {
    background: url("../images/nice.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    width: 60%;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
/*----End----*/


/* Navigation Bar */
.topnav {
    padding-left: 15%;
    padding-top: 2%;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 1%;
    font-size: 1.1em;
    color: #000;
}

.topnav a:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

.topnav .icon {
    display: none;
}

@keyframes example {
    0%   {padding-top: 2%;}
    25%  {padding-top: 1.6%;}
    50%  {padding-top: 1.2%;}
    75%  {padding-top: 0.8%;}
    100%  {padding-top: 0.4%;}
}

@keyframes exampleTwo {
    0%   {padding-top: 0.4%;}
    25%  {padding-top: 0.8%;}
    50%  {padding-top: 1.2%;}
    75%  {padding-top: 1.6%;}
    100%  {padding-top: 2%;}
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav {
        padding: 0.4%;
    }
    .hero-text {
      left: 40%;
    }
}

@media screen and (max-width: 400px) {
    .hero-text {
      left: 40%;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
        position: absolute;
        position: fixed;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
/*----End----*/


/* SrollBar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*----End----*/


/* Resume */
#resume {
    width: 70%;
    margin-left: 15.9%;
    margin-top: 4%;
}

.education {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
}

#education {
    opacity: 0;
}

.experience {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
}

#experience {
    opacity: 0;
}

.infoOne {
    padding-left: 2%;
    border-left: #000 solid;
    margin-left: 1.1%;
}

.boxYear {
    margin: 2% 0 0 0;
    padding: 1%;
    text-align: center;
    width: 16%;
    background-color: #eef0f2;
}

.circleOne {
    position: absolute;
    margin: 0.5% 0 0 0;
    padding: 0;
}

.lineOne {
    margin-top: 4%;
    position: relative;
}

.circleTwo {
    position: absolute;
    margin: 0;
    padding: 0;
}

.lineTwo {
    margin-top: 5%;
    position: relative;
}

@keyframes fade {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    75%  {opacity: 0.75;}
    100%  {opacity: 1;}
}

@media screen and (max-width: 600px) {
    .education {
        width: 90%;
        float: left;
    }
    .experience {
        width: 90%;
    }
    .infoOne {
        margin-left: 2.5%;
        padding-left: 6%;
        margin-top: 5.5%;
    }
    .lineTwo {
        margin-top: 11%;
    }
    .resize h1 {
      padding-top: 8%;
    }

}
/*----End----*/


/* Project */
#project {
    width: 70%;
    margin-left: 15.9%;
    margin-top: 11%;
}

#demo table {
    width: 100%;
    border-collapse: collapse;
}

#demo table, tr, th, td {
    padding: 0.5%;
    border: 1px solid rgba(0,0,0,0.1);
}

tr, th, a {
    color: #000;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

td, th{
    font-size: 1.1em;
}

td {
    padding-left: 1%;
}

th {
    font-weight: normal;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}
/*----End----*/


/* Footer */
footer {
    background-color: #070808;
    color: #fff;
    padding: 3% 0 3% 0;
}

#footer {
    width: 80%;
    margin-left: 10%;
}

.main {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    font-size: 1.5em;
    margin: 1% 0 2%;
}

.main span {
    background-color: #070808;
    padding: 0 5%;
}

.icons {
    text-align: center;
}

.icons .check {
    padding-right: 1%;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .icons {
        margin-top: 5%;
    }
    .main {
        margin-top: 5%;
    }
}

/*----End----*/


/* Error Page */
.error span {
    font-size: 20em;
    text-shadow: 10px 10px 5px #bab9b6;
    margin: 0;
    padding: 0 7%;
}

.error:before, .error:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 20%;
    height: 2px;
    content: '\a0';
    background-color: #000;
}

.error:before {
    margin-left: -20%;
    text-align: right;
}

.errorTitle {
    font-size: 2em;
    margin: 0;
    padding: 0;
    letter-spacing: 0.75em;
}

#error {
    margin-top: 15%;
    text-align: center;
    min-height: 90vh;
}

#error p {
    margin: 0;
    padding: 0;
}
/*----End----*/

/*----Loading----*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.loader {
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  animation: loader 2s infinite ease;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
}
.loader-inner {
  width: 52%;
  height: 52%;
  margin: 18.5%;
  position: absolute;
  border: 3px solid #fff;
  border-radius: 50px;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  animation: innerLoader 1s infinite ease;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
    box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.8);
  } to {
    transform: rotate(360deg);
    box-shadow: 0 0 0 200px rgba(256, 256, 256, 0);
  }
}
@keyframes innerLoader {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
